@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@



<form>
    <span class="border border-light">
        <div class="text-center text-warning">
            <h1>會員賬號登錄</h1>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline" style="" method="post" action="@Url.Action("Login")">
                            <div class="form-group">
                                <label>電子郵件</label>
                                <input type="email" class="form-control" name="email" id="inputmailinline" placeholder="E-mail">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>密碼</label>
                                <input type="password" class="form-control" name="ps" id="inputpasswordinline" placeholder="Password">

                            </div>
                            <br>
                            <p> <small class="text-info text-center"><a href="signup.html">還沒賬號？點我註冊</a></small> </p>
                            <!-- <a class="btn mt-4 btn-block btn-outline-primary p-2 " id="__submit"  >Log in</a> -->
                            <input type="submit" class="btn mt-4 btn-block btn-outline-primary p-2 " value="Log in " />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </span>



</form>

